<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    </system.web>
  <connectionStrings>
    <add name="cnstr" connectionString="Data Source=SHUBHAM-PC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ExcelCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|test.xlsx;Extended Properties=Excel 12.0" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;&#xD;&#xA;            Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;&#xD;&#xA;            Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" /><add name="dbconnectionEntities" connectionString="metadata=res://*/crmado.csdl|res://*/crmado.ssdl|res://*/crmado.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SHUBHAM-PC;Initial Catalog=dbconnection;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="masterEntities" connectionString="metadata=res://*/crmadonet.csdl|res://*/crmadonet.ssdl|res://*/crmadonet.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SHUBHAM-PC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--<connectionStrings>
    <add name="cnstr" connectionString="Data Source=SHUBHAM-PC;Initial Catalog=csvImport;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>
